<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/assets/images/img2879-121x93.png" type="image/x-icon">
    <meta name="description" content="">


    <link href="~/assets/tether/tether.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/assets/animatecss/animate.css" rel="stylesheet" />
    <link href="~/assets/dropdown/css/style.css" rel="stylesheet" />
    <link href="~/assets/socicon/css/styles.css" rel="stylesheet" />
    <link href="~/assets/theme/css/style.css" rel="stylesheet" />
    <link href="~/assets/mobirise/css/mbr-additional.css" rel="stylesheet" />
</head>
<body>

    <section class="menu cid-s48OLK6784" once="menu" id="menu1-s">

        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="~/Home/Index">
                            <img src="~/assets/images/img2879-121x93.png" alt="" style="height: 6.1rem;">
                        </a>
                    </span>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4" @Html.ActionLink("Home.", "Index", "Home") </a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">
                                Products.
                            </a><div class="dropdown-menu"><a class="text-black dropdown-item text-primary display-4" @Html.ActionLink("Artworks.", "Artwork", "Home")</a><a class="text-black dropdown-item text-primary display-4" @Html.ActionLink("Art Materials", "Index", "Shop")</a></div>
                        </li>
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="index.html#content1-8">About.</a></li>
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="index.html#form5-o">Contact.</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">
                                FAQs.
                            </a><div class="dropdown-menu"><a class="text-black dropdown-item text-primary display-4" @Html.ActionLink("FAQs", "FAQs", "Home")</a><a class="text-black dropdown-item text-primary display-4" @Html.ActionLink("Policy", "FAQs", "Home")</a></div>
                        </li>
                    </ul>

                    <div class="navbar-buttons mbr-section-btn">
                        <a class="btn btn-success display-4" @Html.ActionLink("Cart", "I", "")

                        </a> <a class="btn btn-success display-4" @Html.ActionLink("Admin Login", "Index", "Item")>

                        </a>
                    </div>
                </div>
            </div>
        </nav>

    </section>



    <section class="features11 cid-suULGTybRW" id="features12-m">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="card-wrapper">
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mb-4 display-7">by nicolai maybituin | Featured artwork</h4>
                            <p class="mbr-text mbr-fonts-style mb-4 display-2">
                                <strong>
                                    pagtingin track cover.
                                </strong>
                            </p>
                            <div class="mbr-text mbr-fonts-style counter-container display-7">
                                <div>"The last song i worked on, as it was added to the album late into the process. 'pagtingin', to me, is a song that brings you back to the first time you told someone you liked them. is it cheesy? sure, but did it happen? probably, depends.</div><div>I wanted to take the context of the song into the present, so i added my own interpretations of the contemporary, also as an excuse to avoid drawing faces. the small details in the artwork reflect that. "</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 md-pb">
                    <div class="image-wrapper">
                        <img src="~/assets/images/contentpagtingin3kx3kjpg-1076x1076.jpg" alt="pagtingin">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content1 cid-s48udlf8KU" id="content1-8">

        <div class="container">
            <div class="row justify-content-center">
                <div class="title col-12 col-md-9">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>what is artdemic?</strong></h3>
                    <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">artdemic is an online shop which caters art supplies, especially to those people who are not allowed to go out due to the pandemic. also, artists are also encouraged to send their artworks and we will sell it here on our website.&nbsp;<br>our shop do not just focus on&nbsp; selling art materials, but also on promoting our talented local artists by showcasing their art.</h4>

                </div>
            </div>
        </div>
    </section>

    <section class="form5 cid-suUPQMPzZG" id="form5-o">


        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>contact us.</strong><br>
                </h3>
                <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7">
                    artdemic.shop@gmail.com | 0917-452-7760
                    <div>facebook: artdemic | instagram: artdemicph</div>
                </h4>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <input type="hidden" name="email" data-form-email="true" value="Q9nPnNtNr1yM0Eno9MjafuGj0ip+Uvw2vhrCxXJJ2WWFPlq5PNwFv3X9F7YGadRF+sCJ6s0zem2/giR7mObymRTll3Hcad0WQT0XKpktr1Uq+H5VOBDMKwuaimgpXQxN">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                                Thanks for filling out
                                the form!
                            </div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some
                                problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-form5-o">
                            </div>
                            <div class="col-md col-sm-12 form-group" data-for="email">
                                <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-form5-o">
                            </div>
                            <div class="col-12 form-group" data-for="url">
                                <input type="url" name="url" placeholder="Contact No" data-form-field="url" class="form-control" value="" id="url-form5-o">
                            </div>
                            <div class="col-12 form-group" data-for="textarea">
                                <textarea name="textarea" placeholder="Inquiries/Concerns" data-form-field="textarea" class="form-control" id="textarea-form5-o"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-success display-4">Send message</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">





        <div class="container">
            <div class="media-container-row align-center mbr-white">

                <div class="row social-row">
                    <div class="social-list align-right pb-2">






                        <div class="soc-item">
                            <a href="https://twitter.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                        </div><div class="soc-item">
                            <a href="https://www.facebook.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                        </div><div class="soc-item">
                            <a href="https://www.youtube.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                            </a>
                        </div><div class="soc-item">
                            <a href="https://instagram.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row row-copirayt">
                    <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                        © Copyright 2021 artdemic ph. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/s" style="color:#aaa;">web page</a> was designed with Mobirise web theme</p></section>
    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/popper/popper.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="~/assets/dropdown/js/nav-dropdown.js"></script>
    <script src="~/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/assets/formstyler/jquery.formstyler.js"></script>
    <script src="~/assets/formstyler/jquery.formstyler.min.js"></script>
    <script src="~/assets/datepicker/jquery.datetimepicker.full.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
    <script src="~/assets/formoid/formoid.min.js"></script>


    <input name="animation" type="hidden">
</body>
</html>